body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#canvas, body div {
	width: 100%;
}

img {
	width: 350px;
}

.white {
	color: white;
}

.black {
	color: black;
}

.headDiv {
	float: left;
	width: 100%;
}

#h1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	font-weight: bold;
}

.font {
	font-size: 16px;
}

.headDiv div {
	float: left;
	z-index: 200;
	width: 100%;
	font-family: 微软雅黑;
}

a:link,a:visited,a:hover{color:#330099;}

#bgChange {
	width: 50px;
	height: 25px;
	line-height:25px;
	text-align: center;
	margin-left: auto;
	letter-spacing: 8px;
	padding-left: 12px;
	border-radius: 5px;
	/* border: 1px solid #666; */
	box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
	text-shadow: 1px 1px 0.5px #22629B;
	cursor: pointer;
}

/* 自适应设备 */
@media ( max-width :900px ) {
	img {
		width: 350px;
	}
	#h1 {
		font-size: 2em;
		-webkit-margin-before: 0.67em;
		-webkit-margin-after: 0.67em;
		font-weight: bold;
	}
	.font {
		font-size: 16px;
	}
	#bgChange {
		width: 50px;
		height: 25px;
		line-height:25px;
	}
}

@media ( max-width :600px ) {
	img {
		width: 280px;
	}
	#h1 {
		font-size: 1.6em;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
		font-weight: bold;
	}
	.font {
		font-size: 14px;
	}
	#bgChange {
		width: 45px;
		height: 24px;
		line-height:24px;
	}
}

@media ( max-width :400px ) {
	img {
		width: 220px;
	}
	#h1 {
		font-size: 1.3em;
		-webkit-margin-before: 0.9em;
		-webkit-margin-after: 0.9em;
		font-weight: bold;
	}
	.font {
		font-size: 11px;
	}
	#bgChange {
		width: 40px;
		height: 20px;
		line-height:20px;
	}
}